* {
  font-family: Arial, Helvetica, sans-serif;
}

.gameContainer {
  margin-bottom: 20px;
}

.gameContainer h2 {
  text-align: center;
  margin-bottom: 10px;
}

.hangmanImage {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.hangmanImage img {
  width: 200px;
  filter: invert(100%);
  border: 2px solid white;
}

.gameWord {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.gameWord input {
  height: 30px;
  width: 30px;
  margin: 5px;
  border: 2px solid black;
  font-size: 15px;
  color: black;
  text-align: center;
  text-transform: capitalize;
}

.restartGameButton {
  margin: 10px;
  text-align: center;
  height: 30px;
  border-radius: 10px;
  background-color: #a881af;
  color: black;
  cursor: pointer;
  line-height: 30px;
}

.restartGameButton:hover {
  background-color: #80669d;
  color: white;
  cursor: pointer;
}

.gameContainer .keyboardLetters {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 20px));
  grid-gap: 5px;
}

.gameContainer .keyboardLetters .character {
  flex: 1;
  padding: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 2px solid black;
  cursor: pointer;
  border-radius: 10px;
  height: 20px;
}

.character:hover {
  background-color: #a881af;
  color: white;
}
